<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width , user-scalable= no,initial-scale=1.0,maximum-scale= 1.0,minimum-scale=1.0">
    <title>Dulces Momentos</title>
    <link href="https://file.myfontastic.com/t5tNwfwUapz4yDzK3B6sfe/icons.css" rel="stylesheet">
    <link  rel="stylesheet"  href="../public/css/Estilos.css">
    <link rel="stylesheet"  href="../public/css/Iconos.css">
    
</head>
<body>
  <header class="header">
      <div class="contenedor">  
         
        <span class="icon-menu" id="btn-menu"></span>
        <nav class="nav" id="nav">
          <ul class="menu">
            <li class="menu__item"><a href="#" class="menu__link select">Inicio</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Nuestros Productos</a></li>
            <li class="menu__item"><a href="Info.html" class="menu__link">Quienes somos </a></li>
            <li class="menu__item"><a href="Contacto.html" class="menu__link">Contacto</a></li>
            <li class="menu__item"><a href="Gestion/login.php" class="menu__link">Ingresar</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Registrarme</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner" >
     <img src="../public/img/banner.jpg" alt="">
    <div class="contenedor">
        <h2 class="banner__titulo">Dulces Momentos</h2>
        <p>Los mejores momentos se disfrutan con grandes detalles </p>
      </div>
      </div>
    
     <main class="main">
      <div class="contenedor">
        <section class="info">
          <article class="info__columna">
            <img src="../public/img/Welcome.png" alt="" class="info__img">
            <h2 class="info__titulo">Haz parte de nuestra comunidad </h2>
            <p class="info__txt">¿Eres nuevo aquí? <em><a href="" >regístrate</a></em> .Ven disfruta de nuestros productos y nuestras promociones hechas especialmente para ti </p>
          </article>
          <article class="info__columna">
            <img src="../public/img/chef.png" alt="" class="info__img">
            <h2 class="info__titulo">Crea tu Ancheta </h2>
            <p class="info__txt">Crea tu propia ancheta a tu gusto  y sorprende a  esa persona tan especial para ti </p>
          </article>
          <article class="info__columna">
            <img src="../public/img/FotoJet%20(1).png" alt="" class="info__img">
            <h2 class="info__titulo">Domicilio o Tienda </h2>
            <p class="info__txt">Pídelo a domicilio o ven directamente a nuestras instalaciones </p>
          </article>
        </section>
        <section class="productos">
          <h2 class="section__titulo">Nuestros Productos</h2>
          <div class="productos__columna">
            <img src="../public/img/mama4.jpg" alt="" class="productos__img">
            <div class="productos__descripcion">
              <h2 class="productos__titulo">Para las Madres</h2>
              <div class="productos__txt">Encontraras diferentes productos especialmente hecho para las madres y hacerlas sentir 
que no hay nadie como ella,regalándole un detalle a su medida.
</div>
            </div>
          </div>
          <div class="productos__columna">
            <img src="../public/img/papa.jpg" alt="" class="productos__img">
            <div class="productos__descripcion">
              <h2 class="productos__titulo">Para los padres</h2>
              <div class="productos__txt">Regálale un detalle a papá, ven y busca el detalle ideal para sorprenderlo.</div>
            </div>
          </div>
          <div class="productos__columna">
            <img src="../public/img/navidad2.jpg" alt="" class="productos__img">
            <div class="productos__descripcion">
              <h2 class="productos__titulo">Para ocaciones especiales </h2>
              <div class="productos__txt">Para una gran ocasión, siempre hay un gran detalle. ven y echa un vistazo a todas las posibilidades que tienes para encontrar el detalle indicado para que esa ocasión sea más que perfecta. </div>
            </div>
          </div>
          <div class="productos__columna">
            <img src="../public/img/amigos3.jpg" alt="" class="productos__img">
            <div class="productos__descripcion">
              <h2 class="productos__titulo">Para tus amigos </h2>
              <div class="productos__txt">Demuéstrale a tu amigo cuanto lo aprecias con un super detalle  y alégrale  su días  con estos productos excepcionales.</div>
            </div>
          </div>
        </section>
        
      </div>
    </main>

   
    <footer class="footer">
      <div class="contenedor">
        <div class="social">
          <a href="#" class="icon-facebook"></a>
          <a href="#" class="icon-twitter"></a>
          <a href="#" class="icon-gplus"></a>
        </div>
        <p class="copy">&copy; Dulces Momentos  </p>
      </div>
    </footer>
    
    <script src="../public/js/inicio.js"></script>
</body>
    

</html>