<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width , user-scalable= no,initial-scale=1.0,maximum-scale= 1.0,minimum-scale=1.0">
    <title>Dulces Momentos</title>
    <link href="https://file.myfontastic.com/t5tNwfwUapz4yDzK3B6sfe/icons.css" rel="stylesheet">
    <link  rel="stylesheet"  href="css/Estilos.css">
    <link rel="stylesheet"  href="css/Iconos.css">
    
</head>
<body>
  <header class="header">
      <div class="contenedor">  
         <img src="img/logo.png" class="logo" style="width: 150px; height: 150px;"> 
        <span class="icon-menu" id="btn-menu"></span>
        <nav class="nav" id="nav">
          <ul class="menu">
            <li class="menu__item"><a href="#" class="menu__link ">Inicio</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Nuestros Productos</a></li>
            <li class="menu__item"><a href="#" class="menu__link select">Quienes somos </a></li>
            <li class="menu__item"><a href="#" class="menu__link">Contacto</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Ingresar <img src="img/login.png"  class="iconos_menu"></a></li>
            <li class="menu__item"><a href="#" class="menu__link">Registrarme</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner" >
     <img src="img/banner.jpg" alt="">
    <div class="contenedor">
        <h2 class="banner__titulo">Dulces Momentos</h2>
        <p>Los mejores momentos se disfrutan con grandes detalles </p>
      </div>
      </div>
    </div>

    <HR  id = "Separador"> </HR>
    
     <div id="contenedor_Qsomos">
       <h1 class="info_parrafos" >Nuestra Empresa</h1>
       <p class="info_parrafos">Dulces momentos es una empresa   dedicada a la realización de anchetas, la cual nació en la ciudad de Medellín en el año 2014 del mes de septiembre. Nuestra empresa se ha enfocado en preparar los mejores productos para ocasiones especiales, regalándole la mejor atención a nuestros clientes. </p>

       <h1 class="info_parrafos">Misión</h1>
       <p class="info_parrafos">Satisfacer las necesidades de nuestros clientes brindándoles la mejor calidad en los productos con la mejor atención posible, los cuales estarán al alcance y la comodidad de los clientes,brindándole facilidad al adquirir los diferentes productos terminados y dándole una posibilidad única de personalizar sus productos a su gusto.  </p>

       <h1 class="info_parrafos">Visión </h1>
       <p class="info_parrafos">Esperamos que en el 2020 nuestra empresa sea reconocida a nivel nacional y pueda brindar la mejor atención a nuestros clientes, mejorando indudablemente la calidad de nuestros productos   y él envió de estos sea muchos más eficiente en todo el país.  </p>
     </div>
    <footer class="footer">
      <div class="contenedor">
        <div class="social">
          <a href="#" class="icon-facebook"></a>
          <a href="#" class="icon-twitter"></a>
          <a href="#" class="icon-gplus"></a>
        </div>
        <p class="copy">&copy; Dulces Momentos  </p>
      </div>
    </footer>
    
    <script src="js/inicio.js"></script>
</body>
    

</html>