<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width , user-scalable= no,initial-scale=1.0,maximum-scale= 1.0,minimum-scale=1.0">
    <title>Dulces Momentos</title>
    <script src="js/sweetalert.min.js"></script>
    <link href="css/sweetalert.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="icon/style.css">
    <link rel="stylesheet" href="css/estilos-plantilla.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos-admin.css">
     <script src="js/jquery.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    

    

</head>
<body>
   <header>
     <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0 ">
                <button type="button"  data-toggle="collapse" data-target=".navbar-collapse" id="boton-menu" style="background: #c1128c; border:none;">
                    <span class="lnr lnr-menu show"></span>
                </button>
            

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a >
                        <span class="lnr lnr-envelope icon-1"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div class="col-md-12 " id="mensajes-nombre" >
                                    <strong>Daniela Cano</strong>
                                    <span class="pull-right text-muted">
                                        <em>Justo Ahora</em>
                                    </span>
                                </div>
                                <div class="col-md-12" id="mensajes">Mi pedido se suponia que llegaba hoy y no lo he recibido me pueden dar informacion</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div div class="col-md-12 " id="mensajes-nombre" >
                                    <strong>Juan Dias</strong>
                                    <span class="pull-right text-muted">
                                        <em>Hace 2 min</em>
                                    </span>
                                </div>
                                <div class="col-md-12" id="mensajes">Me gustaria saber las opciones de entregar que ofrece dulces momentos</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div div class="col-md-12 " id="mensajes-nombre" >
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Hace 1 hora</em>
                                    </span>
                                </div>
                                <div class="col-md-12" id="mensajes" >Tengo problemas al realizar mi pedido de ancheta personalizada</div>
                            </a>
                        </li>
                        <li>
                            <a class="text-center" href="#">
                                <strong >Todos los Mensajes</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
          
                 <li class="dropdown"> 
                    <a >
                        <span class="lnr lnr-alarm icon-1"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                               
                            <div class="col-md-12" style="margin-bottom: 4%; margin-top: 2;">NOTIFICACIONES</div>
                       <div class=col-md-12>
                                   <div class="alert alert-warning alert-dismissable">
                   <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>¡Nuevo Pedido!</strong>Se ha registrado un nuevo pedido
                                   </div>
                                </div>
                    <div class=col-md-12>
                                   <div class="alert alert-warning alert-dismissable">
                   <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>¡Pedido Cancelado!</strong> Hay nuevos pedidos cancelados ver detalles
                                   </div>
                                </div>
                                            
                    <div class=col-md-12>
                                   <div class="alert alert-warning alert-dismissable">
                   <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>¡Nuevo Usuario!</strong>Se ha registrado un nuevo usuario
                                   </div>
                                </div>
                        </li>
                    
                    
                        <li>
                            <a class="text-center col-md-12 " href="#" style="text-align: center" >
                                <strong>Ver Todos</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
          
                <!-- /.dropdown -->
                <li class="dropdown">
                   
                        <span class="lnr lnr-user"></span>
                   
                    <ul class="dropdown-menu dropdown-user">
                        <li class="col-md-12"><a href="#">Perfil Usuario</a>
                        </li>
                        <li class="col-md-12"><a href="configuraciones.html"> Configuraciones</a>
                        </li>
                        <li class="divider"></li>
                        <li class="col-md-12"><a href="login.html"> Cerrar Sesión</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
         </nav>
            </header>
    <main>
       
        <div class="content-menu">
           
            
            <a href="Iprincipal.html">  <li><span class="lnr lnr-home icon1"> </span><h4 class="text1">Principal</h4></li></a>
           
           
            <li> <span class="lnr lnr-store icon2"></span><h4 class="text2"> Insumos </h4> 
                     <ul>
                         <a href="Insumos.html"><li>REGISTRAR</li></a>
                         <a href="productos.html"><li>CONSULTAR</li></a>
                    </ul>
           </li>
           
           <li><span class="lnr lnr-users icon4"></span><h4 class="text4">Clientes</h4>
           <ul>
               <a href="R_Clientes.html"><li>REGISTRAR</li></a>
               <a href="confirmaciones.html"><li>CONSULTAR</li></a>
                    </ul>
           </li>
            
            <li><span class="lnr lnr-user icon7"></span><h4 class="text4">Proveedor</h4>
                <ul>
                    <a href="proveedor.html"><li>REGISTRAR</li></a>
                    <a href="provee.html"><li>CONSULTAR</li></a>
                </ul>
            </li>
            
          <li><span class="lnr lnr-gift icon6"></span><h4 class="text6">Anchetas</h4>
              <ul>
                  <a href="plantilla.html"><li>REGISTRAR</li></a>
                  <a href="vista_plantillas.html"> <li>CONSULTAR</li></a>
              </ul>
          </li>
           
            <li><span class="lnr lnr-cart icon8"></span><h4 class="text8">Pedidos</h4>
              <ul>
                  <a href="R_Pedido.html"> <li>REGISTRAR</li></a>
                  <a href=""> <li>CONSULTAR</li></a>
              </ul>
           </li>
        </div>
        
         
    <body>
    
    
	<div id="main-container">
        
        <h2>  Proveedor Registrado</h2>
         <div class="table-responsive">

		<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>APELLIDO</th>
      <th>TELEFONO</th>
      <th>NIT EMPRESA</th>
      <th>NOMBRE EMPRESA</th>
      <th>DIRECCION EMPRESA</th>
      <th>TELEFONO EMPRESA</th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Juan</td>
      <td>perez</td>
      <td>4324673</td>
      <td>124323</td>
      <td>Amor Dulce</td>
      <td>cra 123 # 44-55</td>
      <td>34542345</td>
    
    </tr>
    <tr>
      <td>2</td>
      <td>Juan</td>
      <td>perez</td>
      <td>4324673</td>
      <td>124323</td>
      <td>Amor Dulce</td>
      <td>cra 123 # 44-55</td>
      <td>34542345</td>
    
    </tr>
     <tr>
      <td>3</td>
      <td>Juan</td>
      <td>perez</td>
      <td>4324673</td>
      <td>124323</td>
      <td>Amor Dulce</td>
      <td>cra 123 # 44-55</td>
      <td>34542345</td>
    
    </tr>
     <tr>
      <td>4</td>
      <td>Juan</td>
      <td>perez</td>
      <td>4324673</td>
      <td>124323</td>
      <td>Amor Dulce</td>
      <td>cra 123 # 44-55</td>
      <td>34542345</td>
    
    </tr>
     <tr>
      <td>5</td>
      <td>Juan</td>
      <td>perez</td>
      <td>4324673</td>
      <td>124323</td>
      <td>Amor Dulce</td>
      <td>cra 123 # 44-55</td>
      <td>34542345</td>
    
    </tr>
  </tbody>
</table>
<div class="row">

<div class="col-md-6">
      <input  class="col-md-4"  type="submit" value="CAMBIAR ESTADO" id="editar" onclick = "mensaje()" id="btn_inha">
          </div>
<div class="col-md-6">
       <a href="#form_insumos" class="btn btn.lg col-md-3" id="editar" data-toggle="modal">EDITAR</a>
<div class="modal fade" id="form_insumos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-tittle">EDITAR USUARIO</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <div class="col-md-12">
               <div class="col-md-12">
         <label> NOMBRE  </label>
        <br>
        <input class="input" type="text" name="nombre"  placeholder="Ingrese nombre" required autofocus>
        </div>
        <div class="col-md-12">
        <label> APELLIDO </label>
        <br>
        <input class="input" type="" name="Apellido"  placeholder="Ingrese Apellido" required autofocus>
        </div>
       <div class="col-md-12">
        <label> TELEFONO </label>
        <br>
        <input class="input" type="" name="Tel"  placeholder="Ingrese Tel" required autofocus>
        </div>
        <div class="col-md-12">
         <label> NIT EMPRESA </label>
        <br>
        <input class="input" type="" name="Nit"  placeholder="Ingrese NIT" required autofocus>
        </div>
        <div class="col-md-12">
         <label> NOMBRE EMPRESA </label>
        <br>
        <input class="input" type="" name="Nombre"  placeholder="Ingrese Nombre" required autofocus>
        </div>
        <div class="col-md-12">
         <label> TELEFONO EMPRESA </label>
        <br>
        <input class="input" type="" name="Tel"  placeholder="Ingrese Tel" required autofocus>
        </div>
        <div class="col-md-12">
         <label> DIRECCION EMPRESA </label>
        <br>
        <input class="input" type="" name="Direccion"  placeholder="Ingrese Direccion" required autofocus>
        </div>
        
        <div class="modal-footer">
            <button type="button" id="editar" data-dismiss="modal" >CERRAR</button>
            <input  class="col-md-4"  type="submit" value="CAMBIAR" id="editar" onclick = "mensaje()">
          </div>
            
            
        </div>
       
         
        </div>
   
            </div>
        </div>
    </div>          
</div>          

       
           <script>
            function mensaje(){
      swal({
  title: "SEGURO DESEA REALIZAR CAMBIOS?",
  text: "Confirmar el cambio de datos del usuario!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Se cambio correctamente los datos!", {
      icon: "success",
    });
  } 
});  }
            
      </script>
      

           <script>
            function mensaje(){
      swal({
  title: "SEGURO DESEA CAMBIAR ESTADO?",
  text: "Confirmar el cambio de esta para este usuario!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Se cambio correctamente el estado!", {
      icon: "success",
    });
  } 
});  }
            
      </script>
      
        </div>

        </div>
	</div>
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
         <script src="https://.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
         <script src="js/bootstrap.js"></script>
         <script src="js/search.js"></script>
         <script src="js/script.js"></script>
</body>
        
    </main>
    
    </body>
</html>